.content {
  width: 100%;
  margin-bottom: 30px;
}
.logo {
  width: 10%;
  display: block;
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 50px 0 100px 0;
}
.logo-img {
  width: 100%;
  display: block;
}
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: 'Microsoft YaHei';
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.middle {
  width: 70%;
  margin: 0 auto;
}
.title {
  font-size: 54px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
}
.intro {
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.7;
  padding-bottom: 160px;
}
body {
  background: #35393e;
}
.mask {
  widows: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.info img {
  width: 100%;
  margin-bottom: 20px;
}
.info p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.header {
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: -100px;
  transition: all 1s linear;
}
.header a {
  width: 7%;
  display: block;
}
.header-logo {
  width: 100%;
}
.headFix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* animation: bo 1s linear forwards; */
}
.add {
  opacity: 0;
}
.aniActive {
  -webkit-animation: fadeInUp 1.2s linear both;
  -moz-animation: fadeInUp 1.2s linear both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.nav {
  width: 60px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 999;
}
.navList {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navIcon {
  display: block;
  width: 16px;
  height: 16px;
}
