body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: 'Microsoft YaHei';
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.middle {
  width: 60%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: -100px;
  transition: all 1s linear;
}
.header a {
  width: 7%;
  display: block;
}
.header-logo {
  width: 100%;
}
.info {
  width: 100%;
  padding: 100px 0 160px 0;
  background: url('../img/info-bg.png') no-repeat center;
  background-size: cover;
}
.info-logo {
  width: 10%;
  display: block;
  margin: 0 auto;
  margin-bottom: 140px;
}
.info-title {
  font-size: 54px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
}
.info-intro {
  font-size: 34px;
  color: #fff;
  text-align: center;
}
.swiper-container {
  width: 100%;
  height: 931px;
}
.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255);
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.6);
}
.swiper-slide {
  position: relative;
}
.banner-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.banner-box .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 800px;
}
.banner-fl {
  width: 60%;
}
.banner-fr {
  width: 30%;
}
.banner-icon {
  width: 100%;
}
.banner-title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
}
.banner-info {
  font-size: 20px;
  color: #fff;
}
.banner-more {
  padding: 15px 30px;
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
}
.banner-more a {
  color: #fff;
}
.banner-more:hover {
  background: rgba(255, 255, 255, 0.3);
}
.teamPro {
  margin-top: 50px;
}
.pro-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}
.pro-infos {
  font-size: 16px;
  text-align: center;
}
.pro-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pro-list {
  width: 48%;
  margin-bottom: 30px;
}
.proImg-box {
  max-height: 394px;
}
.pro-img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 6px;
  max-height: 394px;
}
.pro-introBox {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
.pro-intro-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.pro-tips {
  color: #fe7074;
  text-align: center;
  margin: 15px 0;
}
.pro-intros {
  color: #555;
  text-align: center;
  line-height: 1.7;
}
.pro-detail {
  padding: 10px 15px;
  color: #fff;
  background: #fe7074;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.pro-detail a {
  color: #fff;
}
.photo {
  width: 100%;
  padding: 80px 0;
  background: #35393e;
  display: flex;
  flex-wrap: wrap;
}
.photo-list {
  width: 16.66%;
  height: 16.66%;
  display: block;
}
.teamBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-list {
  margin-bottom: 30px;
  width: 30%;
}
.team-img {
  width: 100%;
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
}
.team-intro-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.team-name {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}
.team-name-english {
  font-size: 18px;
  color: #fe7074;
  text-align: center;
}
.team {
  margin-top: 50px;
}
.team-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}
.team-info {
  font-size: 20px;
  color: #fe7074;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 30px;
}
.honour {
  margin-top: 50px;
}
.honour-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}
.honourBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.honour-list {
  width: 22%;
  height: 22%;
  display: block;
  margin-bottom: 10px;
}
.service {
  margin-top: 50px;
}
.service-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.service-tips {
  font-size: 26px;
  color: #999;
  text-align: center;
  margin-bottom: 50px;
}
.service-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service-list {
  margin-bottom: 20px;
  width: 17%;
}
.service-img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.service-info {
  font-size: 14px;
  text-align: center;
}
.custom {
  margin-top: 50px;
}
.customBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.custom-list {
  width: 12%;
  display: block;
  margin-bottom: 20px;
}
.custom-img {
  width: 100%;
  display: block;
}
.wechat {
  background: #f2f2f2;
  padding: 80px 0;
}
.wechat-img {
  width: 360px;
  height: 360px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wechat-tips {
  text-align: center;
  font-size: 20px;
}
.footer {
  height: 160px;
  font-size: 16px;
  text-align: right;
  color: #50555c;
  line-height: 90px;
}
.contact .service-title {
  color: #fff;
}
.contact .service-tips {
  color: #fff;
}
.contact {
  margin-top: 50px;
  background: url('../img/contact.jpg') no-repeat center;
  background-size: 1903px 977.191px;
  background-attachment: fixed;
}
.contacts {
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 42, 0.35);
  padding: 80px 0;
}
.contact::before {
  background: #000;
}
.contactBox {
  display: flex;
  justify-content: center;
}
.contact-fl {
  width: 30%;
}
.inp {
  padding: 15px 15px;
  margin-bottom: 10px;
  border: none;
  display: block;
  width: 100%;
  border-radius: 4px;
  outline: none;
}
input::-webkit-input-placeholder {
  font-size: 18px;
  color: #bbb;
}
.textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #bbb;
}
.textarea {
  height: 150px;
}
.btn {
  border: 2px solid #fff;
  background: none;
  padding: 12px 30px;
  color: #fff;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.contact-fr {
  width: 20%;
  margin-left: 30px;
}
.fr-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact-icon {
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 10px;
}
.fr-tips {
  font-size: 16px;
  color: #fff;
}
.add {
  opacity: 0;
}
.aniActive {
  -webkit-animation: fadeInUp 1s linear both;
  -moz-animation: fadeInUp 1s linear both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.headFix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* animation: bo 1s linear forwards; */
}
/* @-moz-keyframes bo {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes bo {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
} */
.nav {
  width: 60px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 999;
}
.navList {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navIcon {
  display: block;
  width: 16px;
  height: 16px;
}
