body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: 'Microsoft YaHei';
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 112.5px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 125px;
  }
}

@media screen and (min-width: 440px) {
  html {
    font-size: 137.5px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 200px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 200px;
  }
}

html {
  font-size: 26.67vw;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
.header {
  width: 100%;
  height: 0.6rem;
  background: #fff;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: -0.7rem;
  transition: all 1s linear;
}
.header a {
  width: 14%;
  height: 100%;
  display: block;
}
.header-logo {
  width: 100%;
  display: block;
  margin-top: 0.17rem;
}
.headFix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.6rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* animation: bo 1s linear forwards; */
}
.middle {
  width: 90%;
  margin: 0 auto;
}
.info {
  width: 100%;
  background: #14adcc;
  padding: 0.5rem 0;
}
.info-logo {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.info-title {
  font-size: 0.26rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.2rem;
}
.info-intro {
  font-size: 0.17rem;
  color: #fff;
  text-align: center;
}
.swiper-pagination-bullet-active {
  width: 0.1rem;
  height: 0.1rem;
  background: rgba(255, 255, 255);
}
.swiper-pagination-bullet {
  width: 0.1rem;
  height: 0.1rem;
  background: rgba(255, 255, 255, 0.6);
}
.banner-img {
  width: 100%;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -12px;
}
.our {
  margin-top: 0.25rem;
}
.ourList {
  border-radius: 0.02rem;
  padding: 0.1rem;
  display: flex;
  margin-bottom: 0.1rem;
  align-items: center;
  font-size: 0.12rem;
}
.ourList:nth-last-child(1) {
  width: 100%;
}
.our-icon {
  width: 0.16rem;
  height: 0.15rem;
  display: block;
  margin-right: 0.15rem;
}
.ourInfo {
  font-size: 0.14rem;
}
.teamPro {
  margin-top: 50px;
}
.pro-title {
  font-size: 0.28rem;
  text-align: center;
  margin-bottom: 0.15rem;
}
.pro-box {
  margin-top: 0.25rem;
}
.pro-list {
  margin-bottom: 0.3rem;
}
.proImg-box {
  max-height: 2rem;
}
.pro-img {
  width: 100%;
  display: block;
  margin-bottom: 0.1rem;
  border-radius: 0.03rem;
  max-height: 2rem;
}
.pro-introBox {
  width: 100%;
  padding: 0.15rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
.pro-intro-title {
  text-align: center;
  font-size: 0.16rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.pro-tips {
  color: #fe7074;
  text-align: center;
  margin: 0.07rem 0;
  font-size: 0.14rem;
}
.pro-intros {
  color: #555;
  text-align: center;
  font-size: 0.16rem;
  margin-bottom: 0.3rem;
}
.pro-detail {
  color: #fff;
  background: #fe7074;
  border-radius: 4px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 1rem;
  height: 0.4rem;
  margin-top: 0.1rem;
  font-size: 0.14rem;
  line-height: 0.4rem;
}
.pro-detail a {
  color: #fff;
}
.photo {
  width: 100%;
  padding: 0.4rem 0;
  background: #35393e;
  display: flex;
  flex-wrap: wrap;
}
.photo-list {
  width: 16.66%;
  height: 16.66%;
  display: block;
}
.aniActive {
  -webkit-animation: fadeInUp 1s ease both;
  -moz-animation: fadeInUp 1s ease both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.service {
  margin-top: 0.25rem;
}
.service-title {
  font-size: 0.28rem;
  text-align: center;
  margin-bottom: 0.1rem;
}
.service-tips {
  font-size: 0.13rem;
  color: #999;
  text-align: center;
  margin-bottom: 0.25rem;
}
.service-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service-list {
  margin-bottom: 0.15rem;
  width: 45%;
}
.service-img {
  width: 100%;
  display: block;
  margin-bottom: 0.1rem;
  border-radius: 0.03rem;
}
.service-info {
  font-size: 0.12rem;
  text-align: center;
}
.custom {
  margin-top: 0.25rem;
}
.customBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.custom-list {
  width: 30%;
  display: block;
  margin-bottom: 20px;
}
.custom-img {
  width: 100%;
  display: block;
}
.contact .service-title {
  color: #fff;
}
.contact .service-tips {
  color: #fff;
}
.contact {
  margin-top: 0.25rem;
  background: url('../img/contact.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.contacts {
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 42, 0.35);
  padding: 0.4rem 0;
}
.contact::before {
  background: #000;
}

.contact-fl {
  margin-bottom: 0.3rem;
}
.inp {
  padding: 0.1rem 0.1rem;
  margin-bottom: 0.1rem;
  border: none;
  display: block;
  width: 100%;
  border-radius: 0.04rem;
  outline: none;
}
input::-webkit-input-placeholder {
  font-size: 0.16rem;
  color: #bbb;
}
.textarea::-webkit-input-placeholder {
  font-size: 0.16rem;
  color: #bbb;
}
.textarea {
  height: 1.5rem;
}
.btn {
  border: 2px solid #fff;
  background: none;
  padding: 0.06rem 0.2rem;
  color: #fff;
  font-size: 0.16rem;
  border-radius: 0.04rem;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 0 auto;
}
.fr-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}
.contact-icon {
  width: 0.15rem;
  height: 0.15rem;
  display: block;
  margin-right: 0.1rem;
}
.fr-tips {
  font-size: 0.14rem;
  color: #fff;
}
.wechat {
  background: #f2f2f2;
  padding: 0.4rem 0;
}
.wechat-img {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.2rem;
}
.wechat-tips {
  text-align: center;
  font-size: 0.1rem;
}
.footer {
  height: 0.6rem;
  font-size: 0.16rem;
  text-align: right;
  color: #50555c;
  line-height: 0.6rem;
}
